@import url(https://newcss.net/new.min.css);

a {
  color: #773c99;
  text-decoration: none;
}

a:hover {
  color: #ad55e0;
}

nav > a {
  margin-right: 15px;
}

.accordian--button {
  background: none;
  width: 50px;
  height: 50px;
}

.accordian--button:focus {
  outline: none;
}

.accordian--button:hover {
  background: none;
}

.accordian--button:active {
  background: none;
}